.releases-section-skeleton-container {
    padding: 1rem 2rem 3rem;
}

.releases-section-title-skeleton {
    margin-bottom: 2rem;
}

.releases-skeleton {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}