.releasesSectionSkeletonContainer {
    padding: 1rem 2rem 3rem;
}

.releasesSectionTitleSkeleton {
    margin-bottom: 2rem;
}

.releasesSkeleton {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}