.profile-card {
    background: var(--main-content-background-color);
    padding: 2rem 1rem;
    margin: 0 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.profile-picture-container {
    border-radius: 50%;
    overflow: hidden;
}

.user-page-profile-picture-container {
    width: 10rem;
    height: 10rem;
}

.user-page-picture {
    width: 100%;
    height: 100%;
}

.profile-name {
    font-size: 1.5rem;
    font-weight: bold;
}