@media (max-width: 1000px) {
  .header-nav {
    padding: 0;
  }
}

@media (max-width: 900px) {
  .show-search-form-button {
    display: block;
  }

  .search-form {
    display: none;
  }

  .auth-user-container {
    padding: 0;
  }

  .auth-user-container a {
    padding-left: 1rem;
  }
}

@media (max-width: 600px) {
  .auth-user-container {
    gap: 1rem;
  }

  .header-nav {
    font-size: 1.2rem;
  }

  .logo span {
    padding-left: 0;
  }
}

@media (max-width: 500px) {
  .auth-user-container span {
    display: none;
  }

  .user-header-info img {
    margin-right: 0;
  }
}

@media (max-width: 400px) {
  .header-logo {
    display: none;
  }

  .logo {
    padding-left: 1rem;
  }
}

@media (max-width: 300px) {
    .header-nav {
      font-size: 1rem;
    }
    .logo {
      padding-left: 0.5rem;
    }
}