header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--header-color);
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0 0.25rem 1.5rem 0 rgba(21, 45, 103, 0.12);
}

header::before {
    content: "";
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: var(--header-color);
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.header-logo {
    width: 4rem;
    height: 4rem;
}

.logo, .enter-button {
    display: flex;
    align-items: center;
    text-align: center;
}

.logo span {
    padding-left: 1rem;
}

.enter-button {
    background-color: var(--button-primary-color);
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 1rem;
    height: 2rem;
}

.enter-button {
    width: 10rem;
    display: block;
    align-self: center;
}

.user-header-info {
    display: flex;
    align-items: center;
}

.user-header-info img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.auth-user-container {
    display: flex;
    background-color: var(--secondary-background-color);
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.auth-user-container > button {
    background: none;
    border: 1px solid rgba(49, 2, 2, 0.5);
    height: 100%;
    padding: 1rem;
}

.show-search-form-button {
    display: none;
}

.search-form-container {
    align-self: center;
}