header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #F0F0F0;
}

header::before {
    content: "";
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: #F0F0F0;
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.header-logo {
    width: 4rem;
    height: 4rem;
}

.logo, .search-form, .enter-button {
    display: flex;
    align-items: center;
    text-align: center;
}

.logo span, .search-input {
    padding-left: 1rem;
}

.search-input, .submit-input, .enter-button {
    background-color: var(--button-primary-color);
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 1rem;
    height: 2rem;
}

.search-form {
    position: relative;
}

.submit-input {
    padding: 1rem 2rem;
    background-image: url('../../shared/assets/loop.svg');
    background-size: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    width: 1rem;
    position: absolute;
    left: 17rem;
    border: 1px solid rgba(62, 80, 114, 0.4) !important;
}

.submit-input:hover {
    background-color: #baf5ba;
}

.search-input:-webkit-autofill,
.search-input:-webkit-autofill:hover,
.search-input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px var(--button-primary-color) inset !important;
    background-color: var(--button-primary-color) !important;
    transition: background-color 5000s ease-in-out 0s;
}

.search-input::placeholder {
    color: black;
    font-weight: normal;
}

.enter-button {
    width: 10rem;
    display: block;
    align-self: center;
}

.user-header-info {
    display: flex;
    align-items: center;
    background-color: rgba(69, 249, 24, 0.2);
    padding: 1rem;
}

.user-header-info img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}