header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--header-color);
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0 0.25rem 1.5rem 0 rgba(21, 45, 103, 0.12);
}

header::before {
    content: "";
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: var(--header-color);
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.header-logo {
    width: 4rem;
    height: 4rem;
}

.logo, .search-form, .enter-button {
    display: flex;
    align-items: center;
    text-align: center;
}

.logo span, .search-input {
    padding-left: 1rem;
}

.search-input, .submit-input, .enter-button {
    background-color: var(--button-primary-color);
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 1rem;
    height: 2rem;
}

.search-form {
    position: relative;
}

.submit-input {
    padding: 1rem 2rem;
    background-image: url('../../shared/assets/loop.svg');
    background-size: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    width: 1rem;
    position: absolute;
    left: 17.1rem;
    border: 1px solid var(--border-color) !important;
}

.search-input {
    border: 1px solid var(--border-color);
}

.submit-input:hover {
    background-color: #a6f2a6;
}

.search-input:-webkit-autofill,
.search-input:-webkit-autofill:hover,
.search-input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px var(--button-primary-color) inset !important;
    background-color: var(--button-primary-color) !important;
    transition: background-color 5000s ease-in-out 0s;
}

.search-input::placeholder {
    color: black;
    font-weight: normal;
}

.enter-button {
    width: 10rem;
    display: block;
    align-self: center;
}

.user-header-info {
    display: flex;
    align-items: center;
}

.user-header-info img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.auth-user-container {
    display: flex;
    background-color: var(--secondary-background-color);
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.auth-user-container > button {
    background: none;
    border: 1px solid rgba(49, 2, 2, 0.5);
    height: 100%;
    padding: 1rem;
}

.show-search-form-button {
    display: none;
}