.search-input {
  padding-left: 1rem;
}

.search-input, .submit-input {
  background-color: var(--button-primary-color);
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 1rem;
  height: 2rem;
}

.search-form {
  position: relative;
}

.submit-input {
  padding: 1rem 2rem;
  background-image: url('../../shared/assets/loop.svg');
  background-size: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  width: 1rem;
  position: absolute;
  left: 18rem;
  border: 1px solid var(--border-color) !important;
}

.search-input {
  border: 1px solid var(--border-color);
}

.submit-input:hover {
  background-color: #a6f2a6;
}

.search-input:-webkit-autofill,
.search-input:-webkit-autofill:hover,
.search-input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px var(--button-primary-color) inset !important;
  background-color: var(--button-primary-color) !important;
  transition: background-color 5000s ease-in-out 0s;
}

.search-input::placeholder {
  color: black;
  font-weight: normal;
}

.search-form {
  display: flex;
  align-items: center;
  text-align: center;
}