#user-rating-container {
    background-color: #DDECDD;
    margin: 0 1rem;
    font-size: 1.5rem;
    padding: 2rem;
    border: 1px solid black;
}

#user-info-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#user-info {
    display: flex;
    gap: 2rem;
    padding-bottom: 1rem;
}

#user-info-text #nickname {
    font-weight: bold;
}

#search-input, #submit-input, #enter-button {
    background-color: var(--button-primary-color);
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 1rem;
    height: 2rem;
}

#like-button {
    background-color: #DDECDD;
    border: none;
}

#user-like {
    width: 5rem;
    height: 5rem;
}

.photo-user-placeholder {
    width: 100%;
    height: 100%;
}

.user-rating-profile-picture-container {
    width: 5rem;
    height: 5rem;
}

.rating-container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-top: 0.5rem;
}

.cancel-rating-button {
    border: 1px solid red;
    color: red;
    background: rgba(255, 0, 0, 0.1);
    margin-top: 0.5rem;
}


#user-album-review-form {
    display: flex;
    flex-direction: column;
}

#add-review-input {
    background-color: #CFE0C4;
    width: 100%;
    height: 10rem;
    border: 1px solid black;
    padding: 1rem 0 0 1rem;
}

#add-review-input::placeholder {
    color: black;
}

.review-input-container {
    display: flex;
    flex-direction: row;
}

.review-input-container button {
    align-self: center;
}

#save-user-changes-button {
    background-color: var(--button-primary-color);
    border: 1px solid black;
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 1rem;
    height: 2.5rem;
}

.review-buttons-container {
    align-self: end;
}

.delete-review-button {
    font-size: 1.5rem;
    font-weight: bold;
    background: rgba(255, 0, 0, 0.1);
    color: red;
    border: 1px solid red;
    border-radius: 1rem;
}