.releasesSection {
    background: var(--main-content-background-color);
    padding: 1rem;
    margin: 0 1rem;
}

.releasesSectionTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.releases {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    border-top: 1px solid var(--border-color);
    overflow-x: hidden;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.moreButton {
    border: none;
    background: none;
    font-size: 1.3rem;
    font-weight: bold;
}

@media (max-width: 1100px) {
    .releasesSection {
        margin: 0;
    }
}

@media (max-width: 1000px) {
    .releases {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    .moreButton {
        display: none;
    }
}


