:root {
    --button-primary-color: #97ff8b;
    --border-color: rgba(62, 80, 114, 0.4);
    --main-content-background-color: #d7f6d7;
    --secondary-background-color: #c6f9de;
    --header-color: #fffff0;
}

