.sign-up-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    background: rgba(1, 1, 1, 0.3);
}

.sign-up-page-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 30rem;
    gap: 1rem;
    align-self: center;
    padding: 1rem;
    border-radius: 0.5rem;
}

.sign-up-page-container > button {
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 2rem;
}

.sign-up-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 1em;
}

.sign-up-main-container button {
    width: 100%;
    font-size: 1.2em;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--button-primary-color);
    transition: background-color 0.3s;
}

.sign-up-main-container button:hover {
    background-color: #baf5ba;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal.active {
    display: flex;
}

.modal-content {
    align-items: center;
    align-self: center;
    align-content: center;
    background: #fff;
    padding: 20px;
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 30%;
}

.modal-content h2 {
    margin: 0 0 1.25rem 0;
    font-size: 1.5rem;
}

.modal-content-top {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.modal-content-top button {
    background: none;
    border: none;
    padding: 0;
    align-items: start;
    align-self: start;
    font-size: 1.5rem;
    font-weight: 500;
}

.modal-content input {
    max-width: 100%;
    padding: 0.5rem 0.5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    border-radius: 0.5rem;
}

.signUp-form button {
    background-color: var(--button-primary-color);
    border: none;
    border-radius: 0.5rem;
    padding: 10px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.signUp-form button:hover {
    background-color: #baf5ba;
}

.loginSubmitButton, .registerSubmitButton {
    height: auto;
    width: 100%;
    border-radius: 0.25rem;
}

.signUp-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.signUp-form input.error {
    border-color: #ff4444;
    box-shadow: 0 0 0 1px #ff4444;
}

.signUp-error {
    color: red;
    text-align: start;
}