.artist-picture {
    width: auto;
    height: 100%;
}

#artist-name {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.artist-picture-container {
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    margin: 0 auto;
    overflow: hidden;
}

#artist-result {
    padding: 1rem 0;
}