.userReviewsContainer {
    background-color: var(--main-content-background-color);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size: 1.5rem;
}

.showMoreButton {
    background-color: var(--button-primary-color);
    width: 10rem;
    border: 1px solid black;
    align-self: center;
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 1rem;
    height: 2rem;
}

.albumReviewsList {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
}

.noReviewsContainer {
    background-color: var(--secondary-background-color);
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 2rem 0;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    svg {
        width: 5rem;
        height: 5rem;
    }
}