.music-release {
    height: 21rem;
    width: 18.75rem;
    padding: 1rem 0;
}

.music-release > div {
    overflow: hidden;
    white-space: nowrap;
}

#release-title {
    font-size: 1.2rem;
    font-weight: bold;
    overflow: hidden;
}

.more-button {
    border: none;
    background: none;
    font-size: 1.3rem;
    font-weight: bold;
}

.release-picture {
    width: 19rem;
    height: 19rem;
}