.userCardSkeletonContainer {
  margin-bottom: 2rem;
}

.userCardSkeleton {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  margin-left: 2rem;
}

.userCardInfoSkeleton {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}