.user-card-skeleton-container {
  margin-bottom: 2rem;
}

.user-card-skeleton {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  margin-left: 2rem;
}

.user-card-info-skeleton {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}