@media (max-width: 700px) {
  .description-info {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .description-info {
    gap: 1rem
  }

  .album-picture {
    width: 10rem;
    height: 10rem;
  }
}

@media (max-width: 350px) {
  .album-picture {
    width: 5rem;
    height: 5rem;
  }

  .album-info picture {
    align-items: flex-start;
  }

  .description-info {
    font-size: 1rem;
  }
}