.album-info {
  background-color: var(--main-content-background-color);
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.album-info picture {
  display: flex;
  align-items: center;
}

.album-picture {
  width: 15rem;
  height: 15rem;
  box-shadow: 0 0.25rem 1.5rem 0 rgba(21, 45, 103, 0.12);
}

.description-info {
  padding-left: 1rem;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  font-size: 2rem;
}

.album-title {
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}