.album-info {
  background-color: #D6E2D6;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  font-size: 1.5rem;
  margin: 0 1rem;
}

.album-info picture {
  display: flex;
  align-items: center;
}

.album-picture {
  width: 15rem;
  height: 15rem;
}

.description-info {
  padding-left: 1rem;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  font-size: 2rem;
}

.album-title {
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}